$pColor: #f15d5c;
$sColor: #549dc4;
$txtColor: #515065;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  font-family: 'STCForward', sans-serif, arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: $txtColor;
}

p {
  line-height: 30px;
}
ul {
  list-style-type: none;
}

input[type='email'],
input[type='tel'] {
  direction: ltr !important;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $txtColor;
}
img {
  max-width: 100%;
}

// main-container
.mainContainer {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.flex-dir-col {
    flex-direction: column;
  }
  &.flex-center {
    align-items: center;
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.direction-column {
    flex-direction: column;
  }
}
.btn {
  padding: 12px 32px;
  font-size: 17px;
  border-radius: 3px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.primaryBtn {
    background-color: $sColor;
    color: #fff;
  }
  &.outlineBtn {
    color: $sColor;
    background-color: transparent;
    border: 2px solid $sColor;
  }
  &.fullWidthBtn {
    width: 100% !important;
  }
  &:disabled {
    background-color: #a8abae;
    cursor: not-allowed;
  }
}
