$pColor: #f15d5c;
$sColor: #549dc4;
$txtColor: #515065;
$grayColor: #efefef;
// font weights
$light: 300;
$normal: 400;
$medium: 700;
$bold: 900;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: $txtColor;
  font-weight: $normal;
  padding-bottom: 100px;
}

header {
  padding: 12px 0;
}

h1,
h2,
h3 {
  font-weight: $bold;
}
p {
  line-height: 30px;
}
ul {
  list-style-type: none;
}
input[type='email'],
input[type='tel'] {
  direction: ltr !important;
}
a {
  text-decoration: none;
  display: inline-block;
  color: $txtColor;
}
img {
  max-width: 100%;
}

// main-container
.mainContainer {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 0 14px;
}

.flex {
  display: flex;
  &.flex_wrap {
    flex-wrap: wrap;
  }
  &.flex_dir-col {
    flex-direction: column;
  }
  &.flex_dir-row {
    flex-direction: row;
  }
  &.flex_center {
    align-items: center;
    justify-content: center;
  }
  &.flex_align-center {
    align-items: center;
  }
  &.flex_justify-between {
    justify-content: space-between;
  }
  &.flex_justify-end {
    justify-content: flex-end;
  }
}

header {
  background-color: #f8f8f8;
}
.lorem1 {
  position: sticky;
  top: 0;
  height: 50px;
}
.lorem3 {
  position: sticky;
  top: 50px;
}
