.restaurants-list {
  padding: 20px 15px;
}

.restaurant-card {
  position: relative;
  margin-bottom: 24px;
  .restaurant-cover,
  .restaurant-content {
    position: relative;
  }
  .cover {
    border-radius: 8px;
    height: 120px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .discount {
    position: absolute;
    bottom: -4px;
    left: 10px;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    color: $pColor;
    img {
      width: 24px;
      margin-right: 2px;
    }
  }
  .favourite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 26px;
    }
  }
  .rate {
    position: absolute;
    top: 6px;
    right: 0;
  }
  .restaurant-address {
    font-size: 14px;
    color: #8d8c9f;
    padding-left: 10px;
  }
  .restaurant-name {
    font-size: 17px;
    padding-left: 10px;
    margin-top: -4px;
  }
}
