* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #515065;
  font-weight: 400;
  padding-bottom: 80px;
}

header {
  padding: 12px 0;
}

h1,
h2,
h3 {
  font-weight: 900;
}

p {
  line-height: 30px;
}

ul {
  list-style-type: none;
}

input[type=email],
input[type=tel] {
  direction: ltr !important;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #515065;
}

img {
  max-width: 100%;
}

.mainContainer {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 0 14px;
}

.flex {
  display: flex;
}
.flex.flex_wrap {
  flex-wrap: wrap;
}
.flex.flex_dir-col {
  flex-direction: column;
}
.flex.flex_dir-row {
  flex-direction: row;
}
.flex.flex_center {
  align-items: center;
  justify-content: center;
}
.flex.flex_align-start {
  align-items: flex-start;
}
.flex.flex_align-end {
  align-items: flex-end;
}
.flex.flex_align-center {
  align-items: center;
}
.flex.flex_justify-between {
  justify-content: space-between;
}
.flex.flex_justify-end {
  justify-content: flex-end;
}

header {
  background-color: #f8f8f8;
}

.lorem1 {
  position: sticky;
  top: 0;
  height: 50px;
}

.lorem3 {
  position: sticky;
  top: 50px;
}

.btn {
  padding: 0 24px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 3px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}
.btn.primaryBtn {
  background-color: #f15d5c;
  box-shadow: 2px 3px 2px rgba(241, 93, 92, 0.2);
}
.btn.outlineBtn {
  color: #515065;
  background-color: transparent;
  border: 2px solid #515065;
}
.btn.fullWidthBtn {
  width: 100% !important;
}
.btn:disabled {
  background-color: #a8abae;
  cursor: not-allowed;
}
.btn.loading {
  background-image: url("../img/bg-loading-btn.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: contain;
  pointer-events: none;
  animation: btnLoading 16s linear infinite;
}

@keyframes btnLoading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000% 0;
  }
}
#welcome-screens {
  position: relative;
}
#welcome-screens .screens {
  margin: 30px 0;
  position: relative;
  height: 480px;
  overflow: hidden;
}
#welcome-screens .screens .screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%) scale(0.8);
  display: flex;
  justify-content: flex-end;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
#welcome-screens .screens .screen.active {
  transform: translateX(0) scale(1);
}
#welcome-screens .screens .screen.fadeOut {
  transform: translateX(-100%) scale(0.8);
}
#welcome-screens .screens .screen img {
  max-height: 100%;
}
#welcome-screens .action {
  padding: 0 30px;
}
#welcome-screens .progressBar {
  width: 90px;
  height: 4px;
  background-color: #efefef;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}
#welcome-screens .progressBar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  background-color: #515065;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#login {
  padding-top: 40px;
}
#login img {
  transform: translateX(-20px);
}
#login #phoneNumber,
#login #otp {
  padding: 0 24px;
  transform: translateY(30px);
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}
#login #otp {
  display: none;
}
#login h1 {
  transform: translateY(-30px);
  font-size: 46px;
}

.formGroup {
  margin-bottom: 30px;
}
.formGroup label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
  display: flex;
  align-items: flex-end;
}
.formGroup label span {
  display: none;
  color: #f15d5c;
  margin-left: 8px;
  font-size: 12px;
}
.formGroup .countryCode {
  margin-right: 10px;
  height: 44px;
  background-color: #f7f3f3;
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-size: 17px;
}
.formGroup .formField.otp_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}
.formGroup .formField.otp_grid input {
  text-align: center;
}
.formGroup .formField input {
  font-size: 17px;
  width: 100%;
  height: 44px;
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 0 12px;
}
.formGroup .formField input:focus {
  border-color: #549dc4;
}

@keyframes fadeInUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
[class^=discover-header] {
  background-color: #f8f8f8;
  padding-right: 18px;
  padding-left: 18px;
}

.discover-header_top {
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
}
.discover-header_top .location img {
  margin-right: 8px;
}

.discover-header_title {
  font-size: 36px;
}

.discover-header_search {
  position: relative;
}
.discover-header_search input {
  padding: 0 12px 0 40px;
  border-bottom: 1px solid #efefef;
  transition: all 0.1s ease-out;
  width: 100%;
  height: 50px;
  background-color: transparent;
  font-size: 16px;
}
.discover-header_search input:focus {
  border-bottom: 1px solid #549dc4;
}
.discover-header_search img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 32px;
}

.discover-header_filters {
  height: 114px;
  display: flex;
  align-items: center;
}
.discover-header_filters ul {
  display: flex;
  overflow-x: auto;
}
.discover-header_filters ul::-webkit-scrollbar {
  display: none;
}
.discover-header_filters .filter-item {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding: 14px 16px;
}
.discover-header_filters img {
  margin-bottom: 2px;
}

.discover-header_tabs {
  height: 58px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 60px;
  z-index: 9;
}
.discover-header_tabs ul {
  display: flex;
  overflow-x: auto;
}
.discover-header_tabs ul::-webkit-scrollbar {
  display: none;
}
.discover-header_tabs li {
  padding: 0 18px;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  color: #515065;
  white-space: nowrap;
}
.discover-header_tabs li.active {
  background-color: #515065;
  color: #fff;
}

.restaurants-list {
  padding: 20px 15px;
}

.restaurant-card {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
}
.restaurant-card .restaurant-cover,
.restaurant-card .restaurant-content {
  position: relative;
}
.restaurant-card .cover {
  border-radius: 8px;
  height: 120px;
  overflow: hidden;
  position: relative;
}
.restaurant-card .cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.restaurant-card .discount {
  position: absolute;
  bottom: -4px;
  left: 10px;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px 12px;
  display: flex;
  align-items: center;
  color: #f15d5c;
}
.restaurant-card .discount img {
  width: 24px;
  margin-right: 2px;
}
.restaurant-card .favourite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.restaurant-card .favourite-icon img {
  width: 26px;
}
.restaurant-card .rate {
  position: absolute;
  top: 6px;
  right: 0;
}
.restaurant-card .restaurant-address {
  font-size: 14px;
  color: #8d8c9f;
  padding-left: 10px;
}
.restaurant-card .restaurant-name {
  font-size: 17px;
  padding-left: 10px;
  margin-top: -4px;
}

.navbar {
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -1px 24px rgba(0, 0, 0, 0.1);
}
.navbar ul {
  display: flex;
  padding: 18px 10px;
}
.navbar li {
  flex: 1;
  align-items: center;
}
.navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
.navbar a img {
  margin-bottom: 8px;
}

.restaurant-details_cover {
  position: relative;
  margin-bottom: 40px;
}
.restaurant-details_cover .cover img {
  width: 100%;
}
.restaurant-details_cover .top-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0 40px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-image: linear-gradient(to bottom, #13121d 0%, rgba(13, 13, 17, 0) 100%);
}
.restaurant-details_cover .top-row .back-arrow {
  padding: 4px 16px;
  margin-right: 10px;
}
.restaurant-details_cover .top-row .name {
  margin-bottom: 10px;
}
.restaurant-details_cover .top-row .rate {
  font-size: 13px;
}
.restaurant-details_cover .top-row .favourite {
  padding: 0 10px;
}
.restaurant-details_cover .icons {
  position: absolute;
  bottom: -28px;
  padding-left: 20px;
}
.restaurant-details_cover .icons img {
  height: 56px;
  margin-right: 10px;
}

.restaurant-details_info .address,
.restaurant-details_info .opening-hours {
  display: flex;
  align-items: flex-start;
  padding: 8px 14px;
  color: #8d8c9f;
}
.restaurant-details_info .address img,
.restaurant-details_info .opening-hours img {
  margin-right: 10px;
  margin-top: 4px;
}
.restaurant-details_info .address span,
.restaurant-details_info .opening-hours span {
  letter-spacing: 6px;
}
.restaurant-details_info .address span.active,
.restaurant-details_info .opening-hours span.active {
  color: #549dc4;
}

.restaurant-details_offers {
  padding: 20px;
}
.restaurant-details_offers li {
  border: 1px solid #efefef;
  padding: 20px 16px;
  border-radius: 6px;
  margin-top: 14px;
}
.restaurant-details_offers li .discount-icon {
  margin-top: -15px;
  margin-right: 6px;
}
.restaurant-details_offers li .name {
  font-size: 18px;
  color: #f15d5c;
  font-weight: bold;
  margin-bottom: 4px;
}
.restaurant-details_offers li button {
  padding: 0 6px;
  margin-top: 10px;
  background-color: transparent;
  color: #549dc4;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.restaurant-details_offers li button img {
  margin-left: 14px;
  width: 6px;
}

/*# sourceMappingURL=style.css.map */
